<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote

    # add ( or page.inside_window? ) to class condition to avoid hiding the 
-%>
<li class="<%= 'active' if page.current? %> <%= 'hidden-xs ' unless ( page.current? ) %><%= 'hidden-sm' unless page.inside_window? or page.current? %>">
  <% if page.current? %>
    <span><%= number_with_delimiter(page.to_s) %></span>
  <% else %>
    <%= link_to number_with_delimiter(page.to_s), url, opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% end %>
</li>

