<% @page_title = t('views.micitizen-static.about-archives.title') %>

<div class="container-fluid">

  <div class="row">

      <div class="<%= main_content_classes(true) %> help-middle-col">
          <h1 class="title"><%= t('views.micitizen-static.about-archives.header') %></h1>
      </div>

  </div>

  <div class="row">

    <%= render partial: 'about_sidebar' %>

      <div class="<%= main_content_classes %> help-middle-col">
            
        <p>Welcome to the Michigan Citizen Digital Archive.</p>

        <h2 class="subtitle">Project Team</h2>

        <p>The project arose from the discussions between the University of Michigan Library and the Bentley Historical Library. The development team included a project manager, a data librarian, an archivist, two developers, a usability specialist, and a graphic artist. Additional staff worked on preparing, scanning and transforming the page images.</p>
           
        <h2 class="subtitle">Technologies</h2>

        <p>The team selected Ruby on Rails as a technical framework that met the project needs and was a good fit with current Library technology directions. The <%= link_to 'Blacklight Ruby “gem”', 'http://projectblacklight.org' %>  was chosen as the starting point for the project due to its support for searching and displaying data, its configurability and its production requirements.</p>

        <p>The project selected the <%= link_to 'Open Seadragon Image viewer', 'https://openseadragon.github.io/' %> due to its powerful features (such as zooming) and its IIIF (International Image Interoperability Framework) compatibility.</p>

        <p>Behind the pages you view is the Library’s <%= link_to 'Digital Library eXtension Service (DLXS)', 'http://www.dlxs.org' %> image storage system, which enabled us to quickly create a repository of page images for this project.</p>

        </div> 
    </div>

</div>
