<% @page_title = t('views.static.contact.title') %>

<div class="row"</div>
  <div class="col-md-4">
<%= render partial: 'static/help_sidebar' %>
  </div>
    <div class="col-md-7 help-middle-col">
    <h2><%= t('views.static.contact.header') %></h2>
    <p class="para">We are happy to answer any questions you have about using the Michigan Daily archive, to hear about any problem you are experiencing with the system and to hear your feeback on how we can improve our services.</p>
    <div class="<%= main_content_classes %>">

    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :username, label: "Name", placeholder: 'Your name please', :required => true %>
      <%= f.input :email, label: "Email Address", placeholder: 'For example: user@yahoo.com OR uniqname@umich.edu', :required => true,  :class => "simple_label" %>
      <%= f.input :type, label: "Problem Type", as: :select, collection: ["Searching", "Problem with content or metadata", "Technical support", "Permissions request or question",  "General comment or concern", "Other"], prompt: "Please select the type of problem" %>
      <%= f.input :message, placeholder: 'Please describe your problem', as: :text, :required => true, :class => "simple_label", :rows => "10", :cols => "50" %>
      <span class="spacer"></span>
      <%= f.button :submit, 'Send Message', :class=> "btn btn-primary" %>
    <% end %>
      </div>
    </div> 
    <div class="col-md-1"></div>
</div>
