<div class="home container-fluid">
   <div class="head head-midaily col-md-12">
     <h1>
      <%= image_tag("The-Michigan-Daily-Digital-Archive-Header.png", :width => 800, :alt => "", :class => 'masthead-midaily') %><span class="sr-only">The Michigan Daily </span>
      <span class="subtitle"><%= t('views.midaily-static.home.head.page_title') %></span>
     </h1>
     <p class="description1"><%= fill_publication_details(t('views.midaily-static.home.head.subtitle')) %></p>
     <p class="description1"><%= t('views.midaily-static.home.head.description1') %></p>
     <p class="description2"><%= t('views.midaily-static.home.head.description2') %></p>
     <a href="/<%= "#{@publication['slug']}" %>/about"><%= t('views.midaily-static.home.head.link') %></a>

     <% if true %><%= render partial: "search_form", locals: { container_class: 'container' } %><% end %>
   </div>
</div>
<div class="home container-fluid">
  <div class="donors col-md-12">
    <h2 class="donor-title"><%= t('views.midaily-static.home.donors.title') %></h2>
    <p class="description"><%= t('views.midaily-static.home.donors.description') %></p>
    <a href="/<%= "#{@publication['slug']}" %>/donors"><%= t('views.midaily-static.home.donors.link') %></a>
  </div>
</div>
<div class="home container-fluid">
  <div class="partnerships col-md-12">
    <p>In Partnership With</p>
    <ol class="partnerships-list">
      <li><%= link_to(image_tag("The-Michigan-Daily-Digital-Archive.png", :alt => "The Detroit Jewish News"), 'https://www.michigandaily.com/', class: 'daily-logo') %></li>
      <li><%= link_to(image_tag("u-m_library_logo.png", :alt => "University of Michigan Library"), 'https://lib.umich.edu', class: 'mlibrary-logo') %></li>
      <li><%= link_to(image_tag("bentley_historical_library_logo.png", :alt => "Bentley Historical Library"), 'http://bentley.umich.edu/', class: 'bentley-logo') %></li>
    </ol>
  </div>
</div>
</div>
<div class="home container-fluid">
   <div class="featured col-md-12">
     <h2 class="featured-title"><%= t('views.midaily-static.home.today.title') %></h2>
     <p class="description"><%= @featured_list.first["date_issued_display"].first.split(",").first if @featured_list.first %></p>
     <div id="documents" class="row grid">
       <% @featured_list.each do |document| %>
         <a href="<%= url_for url_for_document(document) %>" style="display: block;">
             <figure data-identifier="<%= document.id %>">
                 <div class="thumbnail" style=" <%= document_thumbnail_style(document, size: '256,') %>">
                   <%= document_thumbnail(document, size: '256,') %>
                 </div>
                 <figcaption>
                   <%= document.fetch(:date_issued_display).first %>
                 </figcaption>
             </figure>
         </a>
       <% end %>
     </div>
     <%= link_to t('views.midaily-static.home.today.link'), browse_path(date_issued_mm_ti: @now.strftime("%-m"), date_issued_dd_ti: @now.strftime("%-d")), class: 'btn btn-default btn-squared' %>
   </div>
</div>
