<% @page_title = t('views.static.contact.title') %>

<%= render partial: 'help_sidebar' %>

<div class="<%= main_content_classes %>">
    <h2><%= t('views.static.contact.header') %></h2>
    <p class="para">We are happy to answer any questions you have about using the Michigan Daily archive, to hear about any problem you are experiencing with the system and to hear your feeback on how we can improve our services.</p>
    <%= simple_form_for :contact, :url => '/static/email' do |f| %>
      <%= f.input :username, required: true, error: 'Your name is required', input_html: {:tabindex => 10}, :class => "simple_label" %>
      <span class="required">Required</span>
      <%= f.input :email, required: true, placeholder: 'user@domain.com', error: 'Your email is required', input_html: {:tabindex => 11}, :class => "simple_label" %>
      <span class="required">Required</span>
      <%= f.input :type, as: :check_boxes, collection: ["Searching", "Problem with content or metadata", "Technical support", "General comment or concern", "Other"], input_html: {:tabindex => 12} %>
      <%= f.input :message, as: :text, required: true, :class => "simple_label", error: 'A message is required', :rows => "10", :cols => "50", input_html: {:tabindex => 13} %>
      <span class="required">Required</span>
      <span class="spacer"></span>
      <%= f.button :submit, 'Send Message', input_html: {:tabindex => 14} %>
    <% end %>
</div>
