<% @page_title = t('views.static.rights.title') %>

<div class="container-fluid">

  <div class="row">

      <div class="<%= main_content_classes(true) %> help-middle-col">
          <h1 class="title"><%= t('views.static.rights.header') %></h1>
      </div>

  </div>

  <div class="row">

    <%= render partial: 'about_sidebar' %>

    <div class="<%= main_content_classes %> help-middle-col">

          <p>This collection, digitized in collaboration with the Michigan Daily and the 
             Board of Student Publications, contains materials that are protected by copyright law.
          </p>
          <p>
            The Bentley Library provides access to digital 
            collections where materials are in the public domain
            or the Bentley Library is permitted to provide access 
            to the material, either by the rightsholder or by 
            copyright law.
          </p>
          <p>
            If you use an item from this collection, it is your
            responsibility to consider the work's copyright status
            and obtain any required permission. 
            To obtain permission to use copyrighted material, please contact 
            <a href="https://www.michigandaily.com/archive-print">the Michigan Daily (https://www.michigandaily.com/archive-print)</a>. 
            If you have
            questions about the collection, please use the
            <a href="<%= contacts_path type: 'content' %>">contact form.</a>
          </p>
          <p>
            If you have concerns about the inclusion of an item in
            this collection, please contact <a href="mailto:LibraryIT-info@umich.edu">LibraryIT-info@umich.edu</a>.</p>
    </div>
  </div>

</div>
