<a href="<%= url_for(search_state.url_for_document(document)) %>">
    <h3>
        <%= document.fetch(:date_issued_display).first %>
        <span class="subtitle">
            <% if false %>
            Issue <%= document.fetch(:issue_no_t, ['-']).first %> 
            <% end %>
            <%= issue_subtitle(document) %>
            &#8226; Page Image <%= document.fetch(:issue_sequence) %></span>
    </h3>
</a>
