<div class="image-viewer-toolbar image-viewer-toolbar-bottom option-3">
  <div class="container-fluid">
    <div class="row default-toolbar">

      <div class="col-md-6 col-sm-6 col-xs-12" style="white-space: nowrap">

        <div class="btn-group" role="group" aria-label="image controls">
          <button class="btn btn-action action-rotate-left"><%= use_icon('rotate_left') %> <span class="hidden-xs hidden-sm">Rotate Left </span></button>
          <button class="btn btn-action action-rotate-right"><span class="hidden-xs hidden-sm">Rotate Right </span><%= use_icon('rotate_right') %></button>
          <button class="btn btn-action action-toggle-mode"><%= use_icon('select') %> <span class="sr-only">Toggle </span>Select</button>
        </div>

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: right">
        <% if highlights_available? %>
          <label class="label-toggle-highlight" tabindex="-1"><input type="checkbox" class="action-toggle-highlight" <%= highlights_visible? ? 'checked="checked"' : '' %> /><div class="control__indicator"></div> <span><%= raw t('views.issue.search_highlights') %></span></label>
        <% end %>
        <a href="<%= contact_link %>&type=5" class="btn btn-action action-report-problem" style="color: #fff" referrerpolicy="unsafe-url"><%= use_icon('alert') %> Report problem</a>
      </div>

    </div>

    <div class="row selection-toolbar hidden">
      <div class="col-md-12 col-sm-12 col-xs-12" style="white-space: nowrap; text-align: center">
        <span>Click <em>there</em> to draw a selection rectangle</span>
      </div>
    </div>

  </div>
</div>