<div class="image-viewer-toolbar option-3">

  <div class="btn-group" role="group" style="position: absolute; left: 15px; top: 15px; z-index: 5000">
    <% if params[:option] != 'tabs' %>
      <button class="btn btn-action action-activate-viewer"><i class="glyphicon glyphicon-resize-full"></i><span class="hidden-xs"> Open Viewer</span></button>
      <button class="btn btn-action action-deactivate-viewer hidden"><i class="glyphicon glyphicon-resize-small"></i><span class="hidden-xs"> Close Viewer</span></button>
    <% end %>
    <button class="btn btn-action action-reset-viewer"><i class="glyphicon glyphicon-home"></i><span class="hidden-xs"> Home</span></button>
  </div>

  <div class="container-fluid" style="padding: 0; padding-left: 4px; padding-right: 4px">
    <div class="row default-toolbar">
      <div class="col-md-12 col-sm-12 col-xs-12" style="white-space: nowrap; text-align: center">
        <div class="btn-group" role="group" aria-label="zoom controls" style="white-space: nowrap">
          <button id="action-zoom-out" class="btn btn-action action-zoom-out"><%= raw(t('views.issue.zoom_out')) %> <%= use_icon('zoom_out') %></button>
          <span class="btn btn-link span-zoom-status">100%</span>
          <button id="action-zoom-in" class="btn btn-action action-zoom-in"><%= raw(t('views.issue.zoom_in')) %> <%= use_icon('zoom_in') %></button>
        </div>
      </div>
    </div>
    <div class="row selection-toolbar hidden">
      <div class="col-md-12 col-sm-12 col-xs-12" style="white-space: nowrap; text-align: center">
        <div class="btn-group" role="group" arial-label="selection controls" style="white-space: nowrap">
          <button id="action-selection-zoom-in" class="btn btn-action action-zoom-in invisible"><%= raw(t('views.issue.zoom_in')) %> <%= use_icon('zoom_in') %></button>
          <button id="action-selection-download" class="btn btn-action invisible"><%= use_icon('file_image') %> Download</button>
          <button id="action-selection-cancel" class="btn btn-primary" style="margin-left: 10px">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>