<div id="searchGraph" class="clearfix">
    <% graph_data = get_graph_data(params) %>
    <span 
    id="graph_data" 
    class="hidden" 
    data-chart-title="<%= graph_data['chart_title'] %>" 
    data-highest-col="<%= graph_data['highest_col'] %>" 
    data-lowest-col="<%= graph_data['lowest_col'] %>"      
    data-facet-key="<%= graph_data['facet_key'] %>"      
    data-col-names="<%= graph_data['js_names_str'] %>" 
    data-col-values="<%= graph_data['js_values_str'] %>"  
    data-col-links="<%= graph_data['js_links_str'] %>" 
    ></span>
    
  <h5>Results by <%= graph_data['chart_title'] %></h5>
  <div id="hit_chart_frame">
    <span id="y-axis-title">Date Range</span>
    <span id="x-axis-title">Pages with Results</span>
    <!-- line bar -->
  </div>
    <span id="hit_instructions"><%= t('views.catalog.fishrappr_graph_instructions') %></span>
</div>