<div id="searchGraph" class="clearfix">
    <% graph_data = get_graph_data(params) %>
    <span 
    id="graph_data" 
    class="hidden" 
    data-chart-title="<%= graph_data['chart_title'] %>" 
    data-highest-col="<%= graph_data['highest_col'] %>" 
    data-lowest-col="<%= graph_data['lowest_col'] %>"      
    data-facet-key="<%= graph_data['facet_key'] %>"      
    data-col-names="<%= graph_data['js_names_str'] %>" 
    data-col-values="<%= graph_data['js_values_str'] %>"  
    data-col-links="<%= graph_data['js_links_str'] %>" 
    ></span>
    
  <h5>Searching by <%= graph_data['chart_title'] %></h5>
  <% if ( graph_data['facet_key'] == 'date_issued_dd_ti' ) %>
    <span id="hit_instructions">Put cursor on bar to see its page count. No further data zoom available.</span>
  <% else %>
    <span id="hit_instructions">Put cursor on bar to see its page count and zoom in on bar data by clicking a bar.</span>
  <% end %>
  <div id="hit_chart_frame">
    <span id="y-axis-title">Date Range</span>
    <span id="x-axis-title">Pages with Results</span>
    <!-- line bar -->
  </div>
</div>
