<% month_options = get_month_options; month_options.unshift(['Any Month', '-']) %>
<% date_options = get_date_options; date_options.unshift(['Any Day', '-']) %>
<% container_class = 'container-fluid' if true || local_assigns[:container_class].nil? %>

<div class="<%= container_class %> site-search" aria-live="polite">
  <div class="row">
    <%= form_tag(search_action_url, role: 'search', method: :get, class: "form-horizontal site-search-form") do %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="date_filter" class="control-label search-label date_filter"><%= t('blacklight.search.form.search.label') %></label>
          <% # if there are active date facets suppress date in catalog search box %>
          <% # assumes that the search partial is only show on the home and catalog pages %>
          <% #if (! has_search_parameters? || ! active_date_facets?(params) ) # on home page || no facets %>
          <% if (! (!params[:q].blank? or !params[:f].blank? or !params[:search_field].blank?) || ! active_date_facets?(params) ) # on home page || no facets %>
          <%=  label_tag 'date_filter', 'Search by date options', class: 'sr-only' %>

           <%= select_tag('date_filter', options_for_select([['Any Date', 'any'], ['On this date...', 'on'], ['After this date...', 'after'], ['Before this date...', 'before'], ['Specific date range...', 'between']], params[:date_filter] || 'any'), class: 'form-control') %>
          <span class="date-option date-option-on date-option-after date-option-before date-option-between">
            <span class="date-input-control">
              <span class="input-layout-group">
                <%=  label_tag 'date_issued_begin_mm', 'Select month', class: 'sr-only' %>
                <%= select_tag(name="date_issued_begin_mm", options_for_select(month_options, params[:date_issued_begin_mm]), class: 'form-control date_filter_control_mm') %>
                <%=  label_tag 'date_issued_begin_dd', 'Select date', class: 'sr-only' %>
                <%= select_tag(name="date_issued_begin_dd", options_for_select(date_options, params[:date_issued_begin_dd]), class: 'form-control date_filter_control_dd') %>
                <%=  label_tag 'date_issued_begin_yyyy', 'Enter four digit year', class: 'sr-only' %>
                <%= text_field_tag(name="date_issued_begin_yyyy", params[:date_issued_begin_yyyy], placeholder: "YYYY", class: 'form-control date_issued_yyyy', size: 4, maxlength: 4) %>
              </span>

              <span class="input-layout-group date-option-between date-option">
                <span> &mdash; </span>
                <%=  label_tag 'date_issued_end_mm', 'Selecting ending month', class: 'sr-only' %>
                <%= select_tag(name="date_issued_end_mm", options_for_select(month_options, params[:date_issued_end_mm]), class: 'form-control date_filter_control_mm') %>
                <%=  label_tag 'date_issued_end_dd', 'Selecting ending date', class: 'sr-only' %>
                <%= select_tag(name="date_issued_end_dd", options_for_select(date_options, params[:date_issued_end_dd]), class: 'form-control date_filter_control_dd') %>
                <%=  label_tag 'date_issued_end_yyyy', 'Enter four digit ending year', class: 'sr-only' %>
                <%= text_field_tag(name="date_issued_end_yyyy",  params[:date_issued_end_yyyy], placeholder: "YYYY", class: 'form-control date_issued_yyyy', size: 4, maxlength: 4) %>
              </span>
            </span>
          </span>
          <% end %>
          <% if params[:f] and params[:f][:issue_identifier] %>
            <span>this issue</span>
          <% end %>
          <span class="q-block">
          <label for="q" class="control-label search-label for-label">For</label>
          <%= text_field_tag(:q, params[:q], placeholder: 'Search Anything', class: 'form-control' ) %>
          <!-- <button class="btn btn-primary btn-lg">Search </button> -->
          <button type="submit" class="btn btn-action btn-primary" xid="search">
            <span class="<%= use_icon_class('search') %>"></span>
            <span class="hidden <%= use_icon_class('rotate_right') %> glyphicon-refresh-animate"></span> 
            <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

