<div class="container-fluid container-viewer">

  <div class="row">
    <div class="col-md-9">

      <ul class="nav nav-pills" role="tablist" style="margin-bottom: 10px">
        <li role="presentation" class="active"><a href="#" data-target="#page-image" aria-controls="page-image" role="tab" data-toggle="tab"><%= use_icon('file_image') %> Image</a></li>
        <li role="presentation"><a href="#" data-target="#page-text" aria-controls="page-text" role="tab" data-toggle="tab"><%= use_icon('file_text') %> Text</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="page-image">
          <div id="image-viewer-wrap">

            <%= render partial: "image_viewer_toolbar_top" %>

            <div id="image-viewer" data-words="<%= process_highlighted_words(@document) %>" data-identifier="<%= iiif_identifier(@document) %>" data-height="<%= @document.fetch('image_height_ti') %>" data-width="<%= @document.fetch('image_width_ti') %>" data-highlighting="<%= highlights_visible? ? 'true' : 'false' %>"></div>

            <%= render partial: "image_viewer_toolbar_bottom" rescue nil %>

            <p class="sr-only">Scanned image of the page. Keyboard directions: use <tt>+</tt> to zoom in, <tt>-</tt> to zoom out, <em>arrow keys</em> to pan inside the viewer.</p>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="page-text">
          <div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>" style="background: white; padding: 20px">
            <div id="doc_<%= @document.id.to_s.parameterize %>">
              <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <%= render 'show_sidebar' %>
    </div>

  </div>
</div>