<h2><%= t 'blacklight.search.zero_results.title' %></h2>
<div id="documents" class="noresults">
  <h3><%= t 'blacklight.search.zero_results.modify_search' %></h3>
  <ul>
    <li><%= t 'blacklight.search.zero_results.use_fewer_keywords' %></li>

    <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field.try(:key) -%>
      <li><%= t 'blacklight.search.zero_results.search_fields', :search_fields => search_field_label(params) %> - 
      <%= link_to t('blacklight.search.zero_results.search_everything', field: blacklight_config.default_search_field.label), url_for(search_state.params_for_search(search_field: blacklight_config.default_search_field.key)) %>
      </li>
    <%- end %>

    <%- last_year = @publication.last_print_year %>
    <%- if params[:date_issued_begin_yyyy] and params[:date_issued_begin_yyyy].to_i > last_year %>
    <li>These archives only have issues up to <%= last_year %></li>
    <%- end %>

    <%- first_year = @publication.first_print_year %>
    <%- if params[:date_issued_begin_yyyy] and params[:date_issued_begin_yyyy].to_i < first_year %>
    <li>These archives only have issues since <%= first_year %></li>
    <%- end %>

  </ul>
</div>
