<div class="col-sm-12 ">
  <h2>Browse Issues</h2>
  <h5>Browse The Michigan Daily Issues back to 1890</h5>

  <h3>Select a decade, year, month or day to browse issues</h3>

  <% decade_browse_options = get_decade_browse_options %>
  <% year_browse_options = get_year_browse_options %>
  <% month_browse_options = get_month_options; month_browse_options.unshift(['Any Month', 'Any Month']) %>
  <% date_browse_options = get_date_options; date_browse_options.unshift(['Any Day', 'Any Day']) %>

    <%= form_tag(browse_path, role: 'browse', method: :get, class: "form-inline browse-form") do %>
      <div class="browse-select-box">
        <div class="form-group">
          <label class="sr-only">Browse issues by</label>
          <%= select_tag(name="date_issued_yyyy10_ti", options_for_select(decade_browse_options, params[:date_issued_yyyy10_ti]), class: 'changeable form-control') %>          
          <%#= date_select("browse_date", "published", start_year: 1890, prompt: { day: 'Any Date', month: 'Any Month', year: 'Any Year' }) %>

          <%= select_tag(name="date_issued_yyyy_ti", options_for_select(year_browse_options, params[:date_issued_yyyy_ti]), class: 'changeable form-control') %>
          <%= select_tag(name="date_issued_mm_ti", options_for_select(month_browse_options, params[:date_issued_mm_ti]), class: 'changeable form-control') %>
          <%= select_tag(name="date_issued_dd_ti", options_for_select(date_browse_options, params[:date_issued_dd_ti]), class: 'changeable form-control') %>
          <button type="submit" class="btn btn-action btn-lg" xid="browse">
            <span class="glyphicon glyphicon-search"></span>
            <span class="hidden glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 
            <span class="submit-browse-text">Browse</span>
          </button>
        </div>
      </div>
    <% end %>
</div>

<div class="col-sm-12">
  <div class="issues-display">

    <!-- alternative: render search_results %>
    <!-- alternative: render results_pagination -->

    <% if @response.total_pages == 0 %>
      <p><em>No issues were found.</em>
    <% else %>

      <div class="row record-padding">
        <div class="col-md-12">
          <div class="pagination">
            <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
          </div>
        </div>
      </div>

      <div id="groups">
        <%- @response.groups.each do |g| %>
          <h3 class="group-key"><%= Date.strptime(g.key.to_s, "%Y%m").strftime("%B %Y") %> (<%= g.total %> issues)</h3>
          <div class="grouped-documents">
            <%= render_document_index g.docs %>
          </div>
          <%- if g.total > @response.group_limit %>
            <%= link_to t('blacklight.search.group.more'), add_group_facet_params_and_redirect(g), :class => 'more-in-group' %>
          <%- end %>
        <%- end %>
      </div>

      <div class="row record-padding">
        <div class="col-md-12">
          <div class="pagination">
            <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>

<%= render partial: 'back_to_top' %>
