<div class="home container-fluid">

    <div class="head col-md-12">
      <h1><%= t('views.static.home.head.page_title') %></h1>
      <span class="subtitle"><%= t('views.static.home.head.subtitle') %></p>
      <p class="description1"><%= t('views.static.home.head.description1') %></p>
      <p class="description2"><%= t('views.static.home.head.description2') %></p>
      <%= link_to t('views.static.home.head.link'), static_path("about") %>

      <% if true %><%= render partial: "search_form", locals: { container_class: 'container' } %><% end %>
    </div>

</div>
<div class="home container-fluid">

    <div class="donors col-md-12">
      <h2><%= t('views.static.home.donors.title') %></h2>
      <p class="description"><%= t('views.static.home.donors.description') %></p>
      <%= link_to t('views.static.home.donors.link'), static_path("about") %>
    </div>

    <div class="featured col-md-12">
      <h2><%= t('views.static.home.today.title') %></h2>
      <div id="documents" class="row grid">
        <% if false %><%= render collection: @featured_list, as: :document, partial: 'index_grid' %><% end %>

        <% @featured_list.each do |document| %>
          <figure data-identifier="<%= document.id %>">
              <%= link_to document_thumbnail(document, size: '200,'), url_for_document(document), { class: 'thumbnail', style: document_thumbnail_style(document, size: '200,') } %>
              <div class="caption">
                <figcaptions>
                  <%= link_to_document document, render_index_field_value(document, field: :date_issued_display) %>
                </figcaptions>
              </div>
          </figure>
        <% end %>
      </div>

      <%= link_to t('views.static.home.today.link'), browse_path(date_issued_mm_ti: @now.strftime("%-m"), date_issued_dd_ti: @now.strftime("%-d")), class: 'btn btn-default btn-squared' %>

    </div>

</div>