<div class="home">

  <div class="row">
    <div class="col-md-12 head">
      <h2><%= t('views.static.home.head.h2') %></h2>
      <h3><%= t('views.static.home.head.h3') %></h3>
      <p><%= t('views.static.home.head.p') %></p>
      <%= link_to "Read More", static_path("about") %>

      <div class="search">
        <% years_options = get_solr_years_options %>

        <%= form_tag(search_catalog_path, method: "get", html: {class: "form-inline"}) do %>
          <%= hidden_field_tag("from_home", "yes") %>
          <%= select_tag(name="range_start", options_for_select(years_options, years_options.first.first)) %>
          <%= text_field_tag(name="dash", value="", disabled: true) %>
          <%= select_tag(name="range_end", options_for_select(years_options, years_options.last.first)) %>
          <%= text_field_tag(name="q", value="", placeholder: ' Enter one or more search words') %>
          <%= hidden_field_tag("range_field", "date_issued_yyyymmdd_ti") %>
          <%= hidden_field_tag("search_field", "all_fields") %>
          <button type="submit" id="search">
            <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
            <span id="not-searching" class="glyphicon glyphicon-search"></span>
            <span id="now-searching" class="hidden glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 
          </button>
         <% end %>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 donors">
      <h3><%= t('views.static.home.donors.h3') %></h3>
      <p class="description"><%= t('views.static.home.donors.p') %></p>
      <%= link_to "Our Donors", static_path("about") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 featured">
      <h3>This is the featured content section</h3>
    </div>
  </div>

</div>