<div class="home">

    <div class="head">
      <h2><%= t('views.static.home.head.h2') %></h2>
      <h3><%= t('views.static.home.head.h3') %></h3>
      <p class="para1"><%= t('views.static.home.head.p1') %></p>
      <p class="para2"><%= t('views.static.home.head.p2') %></p>
      <%= link_to "Read More", static_path("about") %>

      <%= render "search_form" %>
    </div>

    <div class="donors">
      <h3><%= t('views.static.home.donors.h3') %></h3>
      <p class="description"><%= t('views.static.home.donors.p') %></p>
      <%= link_to "Our Donors", static_path("about") %>
    </div>

    <div class="featured">
      <h3>This is the featured content section</h3>
    </div>

</div>