<% @page_title = t('blacklight.show.page_title.title', date_issued: @document['date_issued_display'].first, issue_vol_iss: @document.fetch('issue_vol_iss_display', []).first, issue_sequence: @document['issue_sequence'], application_name: application_name) %>

<%= replace :head do %>
  <%= link_to_repository(@document) %>
  <%= link_to_manifest(@document) %>
  <%= render partial: 'document_share_metadata' %>
<% end %>

<%= replace :skiplinks do %>
  <%= render 'show_skiplinks' %>
<% end %>

<%= replace :search_navbar do %>
  <div class="navigation-toolbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12 navigate-issue">
          <% if current_search_session %>
            <%= link_back_to_catalog class: 'btn btn-search-primary', label: back_to_results_label %>
          <% end %>
          <a class="btn btn-link btn-issue-link" href="<%= search_catalog_url document_to_date_params(@document) %>">
            <span><%= issue_title(@document, true) %></span> 
          </a>
          <span class=""><%= use_icon('divider') %></span>
          <span class="">Image <%= current_image_sequence(@document) %></span>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 navigate-pages">
          <%= link_to_previous_issue_page @previous_page %>
          <span class="current-page-number"><span class="sr-only">Image </span><%= current_image_sequence(@document) %> of <%= @issue_data[:pages].size %></span>
          <%= link_to_next_issue_page @next_page %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1 class="sr-only"><%= @document['date_issued_display'].first %> -  Issue <%= @document.fetch('issue_no_t', ['-']).first %> - Image <%= current_image_sequence(@document) %></h1>

<h2 class="sr-only">Page Image</h2>
<div id="image-viewer-wrap">
  <%= render partial: "image_viewer_toolbar_top" %>

  <div id="image-viewer" data-words="<%= process_highlighted_words(@document) %>" data-identifier="<%= iiif_identifier(@document) %>" data-highlighting="<%= highlights_visible? ? 'true' : 'false' %>"></div>

  <%= render partial: "image_viewer_toolbar_bottom" rescue nil %>

  <p class="sr-only">scanned image of the page</p>
</div>


<div class="container container-morph">
  <div class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12 page-options" id="page-options">
    <h2 class="sr-only">Page Options</h2>
    <div class="panel panel-actions-page">
      <div class="panel-heading">
        <h3>Download this Page</h3>
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical action-group" role="group">
          <a class="btn btn-default btn-action action-download-view" href="#"><%= use_icon('file_image') %> Download<span class="hidden-sm"> Current</span> View <span class="extension">JPG</span></a>
          <a class="btn btn-default btn-action" href="<%= download_pdf_link @document, 'page_identifier' %>"><%= use_icon('file_pdf') %> Download PDF <span class="extension">PDF</span></a>
          <a class="btn btn-default btn-action" download="<%= @document.id %>.jpg" href="<%= document_image_src @document, size: 'full' %>?attachment=1"><%= use_icon('file_image') %> Download Image <span class="extension">JPG</span></a></li>
          <a class="btn btn-default btn-action" href="<%= download_text_solr_document_path @document %>"><%= use_icon('file_text') %> Download Text <span class="extension">TXT</span></a></li>
        </div>
      </div>
    </div>

    <div class="panel panel-actions-issue">
      <div class="panel-heading">
        <h3>Download this Issue</h3>
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical action-group" role="group">
          <a class="btn btn-default btn-action action-download-pdf" href="<%= download_pdf_link @document, 'issue_identifier' %>"><%= use_icon('file_pdf') %> Download PDF <span class="extension"><%= @issue_data[:pages].size %> pages</span></a>
          <a class="btn btn-default btn-action" href="<%= download_issue_text_solr_document_path @document %>"><%= use_icon('file_zip') %> Download Text <span class="extension">ZIP</span></a>
        </div>
      </div>
    </div>

    <div class="panel panel-actions-share">
      <div class="panel-heading sr-only">
        <h3>Share</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="permalink">Permalink for this page</label>
            <input type="text" class="form-control" id="permalink" value="<%= url_for url_for_document(@document).merge(only_path: false) %>" readonly="readonly" onclick="this.select()" />
          </div>
          <button class="btn btn-action action-copy-permalink">Copy Link</button>
        </form>
      </div>
    </div>

    <div class="panel panel-actions-contact">
      <div class="panel-heading sr-only">
        <h3>Something wrong?</h3>
      </div>
      <div class="panel-body">
        <p>Something wrong with this page? <a href="<%= contacts_path type: 'content' %>">Report problem.</a></p>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-12">
    <div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>" style="background: white; padding: 20px">
      <div id="doc_<%= @document.id.to_s.parameterize %>">
        <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
      </div>
    </div>
  </div>
</div>

<script>
$().ready(function() {
  $(".image-viewer-toolbar").stick_in_parent();
  $("#page-options").stick_in_parent();
  $(".action-copy-permalink").on('click', function(e) {
    e.preventDefault();
    $("#permalink").select();
    document.execCommand('copy');
  });
});
</script>
<%= render partial: 'back_to_top' %>
