<div id="sidebar" class="<%= show_sidebar_classes %>">
   <%= render_document_sidebar_partial %>

   <% if current_search_session %>
    <div class="list-group">
      <%= link_back_to_catalog class: 'list-group-item list-group-item-info' %>
      <%=link_to t('blacklight.search.start_over'), start_over_path(current_search_session.try(:query_params) || {}), id: 'startOverLink', class: 'list-group-item' %>
    </div>
   <% end %>

   <div class="list-group">
    <a href="?view=plaintext" class="list-group-item <%= @subview == 'plaintext' ? 'active' : '' %>">View Plain Text</a>
    <a href="?view=image" class="list-group-item <%= @subview == 'image' ? 'active' : '' %>">View Scanned Image</a>
    <a href="#" class="list-group-item">Remove Hit Highlights</a>
  </div>

</div>

<div id="content" class="<%= show_content_classes %>" data-words="<%= process_highlighted_words(@document) %>" data-identifier="<%= @document.id %>">
  <div class="pagination-search-widgets">
    <% if @subview == 'image' %>
    <nav class="pull-left">
      <ul class="pager">
        <li><button class="btn btn-default action-zoom-in"><%= raw(t('views.issue.zoom_in')) %></button></li>
        <li><span class="span-zoom-status">100%</span></li>
        <li><button class="btn btn-default action-zoom-out"><%= raw(t('views.issue.zoom_out')) %></button></li>
      </ul>
    </nav>
    <% end %>

    <nav class="pull-right">
      <ul class="pager">
        <li>
          <%= link_to_previous_issue_page @previous_page %>
        </li>
        <li><span><%= current_page_number(@document) %></span></li>
        <li>
          <%= link_to_next_issue_page @next_page %>
        </li>
      </ul>
    </nav>
  </div>
  <%= render_document_main_content_partial %>
</div>

