<nav class="navbar navbar-expand-lg navbar-dark align-items-center" id="header-navbar" style="gap: 1rem;">
  <div class="d-flex flex-column flex-lg-row flex-grow-1" data-class="collapse navbar-collapse">
    <%= link_to(image_tag("The-Detroit-Jewish-News-Digital-Archive-Header-Graphic.png",  :alt => "The Detroit Jewish News Digital Archives", :height => 35, style: 'margin-top: -8px'), publication_root_url, :class => "navbar-brand") %>
    <%= content_for?(:skiplinks) ? yield(:skiplinks) : '' %>

    <div class="collapse navbar-collapse justify-content-end" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
  <button class="navbar-toggler align-self-start" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<%= render :partial=>'/flash_msg' unless flash.empty? %>

<% if content_for?(:search_navbar) %>
  <%= yield(:search_navbar) %>
<% else %>
  <div id="search-navbar" class="navbar navbar-default p-0" role="navigation">
    <%= render partial: '/catalog/search_form' %>
  </div>
<% end %>
