<div id="about_sidebar" class="<%= sidebar_classes %> help-sbar">
  <div class="sidebars">
    <h2>About</h2>
    <ul class="help-ul">
      <%= render partial: "static/help_sidebar_link", locals: { path: 'donors', label: "About the Donors" } %>
      <%= render partial: "static/help_sidebar_link", locals: { path: 'about', label: "About The Michigan Daily" } %>
      <%= render partial: "static/help_sidebar_link", locals: { path: 'project', label: "About the Digital Archives Project" } %>
      <%= render partial: "static/help_sidebar_link", locals: { path: 'rights', label: "Rights Statement" } %>
      <li><a href="https://docs.google.com/document/d/19tHhYVxrLUGOn6jMBp9YsQN9ViaVyvDiZrNkhx7Cyro/edit?tab=t.0#heading=h.jzp5qdt7lua1">Digital Bentley Newspapers Accessibility</a></li>      
    </ul>
  </div>
</div>
