  <ul class="navbar-nav flex-direction-row justify-content-end">
    <li class="nav-item"><%= link_to "Search", { :publication => "midaily", :controller => "catalog", :action => "index" }, class: 'nav-link' %></li>

    <li class="nav-item"><%= link_to "Browse", { :publication => "midaily", :controller => "catalog", :action => "browse" }, class: 'nav-link' %></li>
    <li class="nav-item"><a class="nav-link" href="/<%= "#{@publication['slug']}" %>/donors">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/<%= "#{@publication['slug']}" %>/how_to_search">Help</a></li>
    <li class="nav-item"><a class="nav-link" href="<%= contact_link %>" referrerpolicy="unsafe-url">Contact Us</a></li>

    <% if has_user_authentication_provider? %>
      <% if current_user %>
        <li class="nav-item">
          <% link_text = t('blacklight.header_links.logout') + " (#{current_user})" %>
          <%= link_to link_text, destroy_user_session_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('blacklight.header_links.login'), {:controller => "sessions", :action => "login_info"}, class: 'nav-link' %>
        </li>
      <% end %>
    <% end %>

  </ul>
