<%= extends :application do %>

  <%= replace :main do %>

    <div class="<%= container_classes %>">
      <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>

      <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <%= yield %>
      </div>

    </div>

  <% end %>

<% end %>
