<% content_for :main do %>
    <div class="<%= container_classes %>">

      <% if content_for?(:h1_wrap) %>
        <%= yield(:h1_wrap) %>
      <% else %>
        <% if content_for?(:h1) %>
        <div class="row">
          <div class="col-md-9 offset-md-3 col-sm-8 offset-sm-4 col-xs-12 mt-3">
            <h1><%= content_for?(:h1) ? yield(:h1) : '' %></h1>
          </div>
        </div>
        <% end %>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>

    </div>
<% end %>
<%= render template: 'layouts/application' %>
