<!DOCTYPE html>
<html>
<head>
  <title><%= t('views.static.home.title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fishrappr">
<%= render partial: 'home_header_navbar.html.erb' %>

<%= yield %>

<%= render partial: 'footer.html.erb' %>


</body>
</html>
